body {
  font-family: "Maitree", serif;
}
h1 {
  color: black;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 0;
  text-align: left;
}
button {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #f7f6e7;
  background-color: #537791;
  border: 4 px solid white;
  border-radius: 12px;
  font-size: 20px;
  padding: 12px;
}
button:hover {
  color: #537791;
  background-color: skyblue;
  cursor: pointer;
}
small {
  display: block;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
}
.container {
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147) 11.2%,
    rgb(154, 214, 212) 55.4%,
    rgb(255, 233, 171) 100.2%
  );
}
.weather {
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 20px;
  border: 8px ridge rgba(83, 119, 145, 0.8);
  border-radius: 30px;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.searchbar {
  text-align: center;
}
.pulse-effect {
  background-color: #537791;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: relative;
  margin: auto;
}
.circle {
  position: absolute;
  background-color: #111f4d;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: 0.5%;
  animation: pulse 3s ease-out infinite;
}
.circle:nth-of-type(1) {
  animation-delay: -0.5s;
}
.circle:nth-of-type(2) {
  animation-delay: -1s;
}
.circle:nth-of-type(3) {
  animation-delay: -1.5s;
}
@keyframes pulse {
  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}
.row {
  color: #111f4d;
  font-weight: 800;
  text-align: center;
}
#icon {
  font-size: 80px;
  margin-right: 10px;
  margin-top: -30px;
}
.temperature {
  font-size: 64px;
  line-height: 1;
}
.row2 {
  color: #111f4d;
  font-weight: 800;
}
.col-3 {
  color: #111f4d;
  font-weight: 800;
  font-size: 20px;
  background-color: #f7f6e7;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 60px;
  padding: 5px 10px 5px 10px;
}
.gitLink {
  text-decoration: underline;
  color: #537791;
  font-weight: bolder;
}
#currentTemperature {
  color: yellow;
}
#city-form {
  max-width: 40%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}
.overview {
  margin-bottom: 20px;
}
#temp {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
#units .active {
  color: black;
  cursor: default;
}
#units .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
